In [6]:
import pandas as pd
import numpy as np

df = pd.read_pickle('../train/pooled_df.pkl')
df.head()

,SUBJECT_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS,...,diagnosisstring,subject_id,stay_id,first_careunit,last_careunit,intime,outtime,los,anchor_age,dod
0,1027140.0,3011529.0,carevue,CCU,CCU,57.0,57.0,2152-07-23 05:34:12,2152-07-24 18:37:32,1.5440,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT
1,1027482.0,3011175.0,carevue,MICU,MICU,12.0,12.0,2162-03-20 17:22:48,2162-03-22 18:26:10,2.0440,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT
2,1011746.0,3013234.0,carevue,MICU,MICU,52.0,52.0,2107-07-28 17:22:31,2107-08-01 11:03:44,3.7370,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT
3,1010325.0,3022526.0,metavision,MICU,MICU,52.0,52.0,2145-02-06 02:15:08,2145-02-07 18:47:37,1.6892,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT
4,1012708.0,3035542.0,metavision,SICU,SICU,33.0,33.0,2175-02-20 07:41:28,2175-02-23 10:21:01,3.1108,...,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaT

In [10]:
def embed(embed_string):
    # return embedding of string
    return embedder.encode(embed_string)


def embed_data(df):
    df_embed = pd.DataFrame()
    for i in range(len(df)):
        concat = []
        for j in range(len(df['code_name'][i])):
            temp = str(df['code_name'][i][j]) + str(df['value'][i][j]) + str(df['uom'][i][j])+ ' '
            concat.append(temp)
        concat = ''.join(concat)
        df_embed = df_embed.append(pd.DataFrame(embed(concat)).T)
        # Add age and gender to df_embed
        df_embed['age'] = df['age']
        df_embed['GENDER'] = df['GENDER']
    return df_embed

# Test with first 10 rows
df_test = df.head(10)
df_test = embed_data(df_test)
df_test.head()

/var/folders/pb/0ltrmd7x4dg5j794jr3tqh1h0000gn/T/ipykernel_35493/164320966.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_embed = df_embed.append(pd.DataFrame(embed(concat)).T)
/var/folders/pb/0ltrmd7x4dg5j794jr3tqh1h0000gn/T/ipykernel_35493/164320966.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_embed = df_embed.append(pd.DataFrame(embed(concat)).T)
/var/folders/pb/0ltrmd7x4dg5j794jr3tqh1h0000gn/T/ipykernel_35493/164320966.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_embed = df_embed.append(pd.DataFrame(embed(concat)).T)
/var/folders/pb/0ltrmd7x4dg5j794jr3tqh1h0000gn/T/ipykernel_35493/164320966.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_embed = df_embed.append(pd.DataFrame(embed(concat)).T)
/var/folders/pb/0ltrmd7x4dg5j794jr3tqh1h0000gn/T/ipykernel_35493/164320966.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_embed = df_embed.append(pd.DataFrame(embed(concat)).T)
/var/folders/pb/0ltrmd7x4dg5j794jr3tqh1h0000gn/T/ipykernel_35493/164320966.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_embed = df_embed.append(pd.DataFrame(embed(concat)).T)
/var/folders/pb/0ltrmd7x4dg5j794jr3tqh1h0000gn/T/ipykernel_35493/164320966.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_embed = df_embed.append(pd.DataFrame(embed(concat)).T)
/var/folders/pb/0ltrmd7x4dg5j794jr3tqh1h0000gn/T/ipykernel_35493/164320966.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_embed = df_embed.append(pd.DataFrame(embed(concat)).T)
/var/folders/pb/0ltrmd7x4dg5j794jr3tqh1h0000gn/T/ipykernel_35493/164320966.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_embed = df_embed.append(pd.DataFrame(embed(concat)).T)
/var/folders/pb/0ltrmd7x4dg5j794jr3tqh1h0000gn/T/ipykernel_35493/164320966.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_embed = df_embed.append(pd.DataFrame(embed(concat)).T)

,0,1,2,3,4,5,6,7,8,9,...,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497
0,A,n,i,o,n,,G,a,p,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,3,0,0,6,0,,,,L,e,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,A,c,e,t,a,m,i,n,o,p,...,0,.,0,0,.,0,0,.,0,
0,A,l,a,n,i,n,e,,A,m,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,A,n,i,o,n,,G,a,p,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN